<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'application-choose' %}">OAuth 2.0 Server</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#" id="navbarDropdownMenuLink"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    {% if user.is_anonymous %}
                    Авторизация
                    {% else %}
                    {{ user }}
                    {% endif %}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                    {% if user.is_anonymous %}
                    <a class="dropdown-item" href="{% url 'login' %}">Вход</a>
                    {% else %}
                    <a class="dropdown-item" href="{% url 'logout' %}">Выход</a>
                    <a class="dropdown-item" href="{% url 'password_change' %}">Изменить пароль</a>
                    {% endif %}
                    {% if user.is_superuser %}
                    <a class="dropdown-item" href="/admin">admin</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>