{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Пользователи{% endblock %}

{% block content %}
<div class="content">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="jumbotron">
                <h3>Пользователи</h3>
                <hr class="my-4">
                <div class="form-group">
                    <a href="{% url 'user_create' %}" class="btn btn-primary">Добавить нового пользователя</a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Логин</th>
                        <th>Email</th>
                        <th>ФИО</th>
                        <th>Профиль<br>Приложения</th>
                        <th>Статус</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>
                            <a href="{% url 'user_detail' user.pk %}">{{ user.username }}</a>
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {% if user.last_name %}
                            {{ user.last_name }}<br>
                            {% endif %}
                            {% if user.first_name %}
                            {{ user.first_name }}<br>
                            {% endif %}
                            {% if user.patronymic %}
                            {{ user.patronymic }}
                            {% endif %}
                        </td>
                        <td>
                            {% if user.profile %}
                            <a href="{% url 'profile_detail' user.profile.pk %}">{{ user.profile.role }}</a>
                            <ul>
                                {% for app in user.profile.applications.all %}
                                <li>{{ app }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            <a href="{% url 'profile_create' user.pk %}">Добавить профиль</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if user.is_active %}
                            Активный
                            {% else %}
                            Неактивный
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}