{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Пользователи{% endblock %}

{% block content %}
<div class="content">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="jumbotron">
                <h3>Пользователи</h3>
                <hr class="my-4">
                <div class="form-group">
                    <a href="{% url 'user_create' %}" class="btn btn-primary">Добавить нового пользователя</a>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ФИО</th>
                        <th>Логин</th>
                        <th>Роль</th>
                        <th>Профиль</th>
                        <th>Активный</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                    <tr>
                        <td>
                            {{ user.last_name }}<br>
                            {{ user.first_name }}<br>
                            {{ user.patronymic }}
                        </td>
                        <td><a href="{% url 'user_update' user.pk %}">{{ user.username }}</a></td>
                        <td>{{ user.role }}</td>
                        <td>
                            {% if user.profile %}
                            <a href="{% url 'profile_update' user.profile.pk %}">{{ user.profile }}</a>
                            <ul>
                            {% for app in user.profile.applications.all %}
                                <li>{{ app }}</li>
                            {% endfor %}
                            </ul>
                            {% else %}
                            <a href="{% url 'profile_create' user.pk %}">Добавить профиль</a>
                            {% endif %}
                        </td>
                        <td>{{ user.is_active }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}