{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Вход в{% endblock %}
{% block content %}
<div class="content">
    <div class="row justify-content-center">
        <div class="col-8 ">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Вход</h3>
                </div>
                <div class="card-body">
                    {% if form.errors %}
                    <p class="alert alert-warning">
                        Ваше логин и пароль не совпадали. Пожалуйста, попробуйте еще раз.
                    </p>
                    {% endif %}
                    {% if next %}
                    {% if user.is_authenticated %}
                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
                            <p class="alert alert-warning">{{ message }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="alert alert-warning">
                        У вашей учетной записи нет прав доступа к этой странице. Для того чтобы продолжить,
                        войдите в систему под учётной записью имеющей права доступа к этой странице.
                    </p>
                    {% endif %}
                    {% else %}
                    <p class="alert alert-warning">
                        Пожалуйста, войдите, чтобы увидеть эту страницу
                    </p>
                    {% endif %}

                    <form action="{% url 'login' %}?next={{ next }}" method="post" autocomplete="off">{% else %}
                        <form action="{% url 'login' %}" method="post" autocomplete="off">{% endif %}
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="id_username">{{ form.username.label_tag }}</label>
                                {% render_field form.username class="form-control" %}
                            </div>
                            <div class="form-group">
                                <label for="id_password">{{ form.password.label_tag }}</label>
                                {% render_field form.password class="form-control" %}
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-success">Войти</button>
                                <a href="{% url 'password_reset' %}" class="btn btn-link">Забыли пароль?</a>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}