{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="content">
  <div class="row justify-content-center">
    <div class="col-8 ">
      <div class="jumbotron">
        <h3>Изменить пароль</h3>
        <hr class="my-4">
        <form method="post">
          {% csrf_token %}

          {% for hidden in form.hidden_fields %}
            {{ hidden }}
          {% endfor %}

          {% for field in form.visible_fields %}
          <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|add_class:'form-control' }}
              <p>{{ field.help_text }}</p>
              {% for error in field.errors %}
                <p class="alert alert-warning">{{ error }}</p>
              {% endfor %}
            </div>
          {% endfor %}
          <div class="form-group">
            <button type="submit" class="btn btn-success">Изменить пароль</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}