{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="content">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="jumbotron">
                <h3>Забыли пароль</h3>
                <hr class="my-4">
                <form method="post" autocomplete="off">
                    {% csrf_token %}

                    {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                    {% endfor %}

                    <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как
                        установить новый пароль.</p>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                                <p>Адрес электронной почты:</p>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-group">
                                {% render_field form.email class="form-control" %}
                                {% for error in form.email.errors %}
                                <p class="alert alert-warning">{{ error }}</p>
                                {% endfor %}
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Восстановить мой пароль</button>
                        <a href="{% url 'login' %}" class="btn btn-default">Отмена</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}