{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Подтверждение входа{% endblock %}
{% block content %}
<div class="content">
    <div class="row justify-content-center">
        <div class="col-8 ">
            <div class="jumbotron">
                <h3>Подтверждение входа</h3>
                <hr class="my-4">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <p>
                            На вашу электронную почту {{ request.user.eamil }} было отправлено письмо с кодом подтверждения,
                            введите полученный код.
                        </p>
                        <input type="number" name="code" class="form-control" required id="id_code">
                        {% for error in form.code.errors %}
                        <div class="alert alert-warning" role="alert">
                            {{ error }}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <a class="btn btn-link" href="{% url 'send_new_code' %}">Отправить ещё раз</a>
                        <button type="submit" class="btn btn-success">Подтвердить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}